#minecraft {
	position: absolute;
	top: 56%;
	left: 9%;
	width: auto;
	height: auto;
}

#tf2 {
	position: absolute;
	top: 80%;
	left: 9%;
	width: auto;
	height: auto;
}

#discord  {
	position: absolute;
	top: 56%;
	right: 9%;
	width: auto;
	height: auto;
}

#steam  {
	position: absolute;
	top: 80%;
	right: 9%;
	width: auto;
	height: auto;
}

#jason {
	position: absolute;
	top: 10%;
	right: 3.5%;
	width: 26%;
	height: 26.1%px;
	transform: rotateY(180deg)
}

body {
	background-image: url("https://i.imgur.com/5uTKF8s.png");
	background-color: #ffffff;
	background-attachment: fixed;
	background-position: right 0px top -25px;
}

h1 {
	text-align: center;
	font-family: Arial, sans-serif;
	color: #ffffff;
}