#minecraft {
	position: absolute;
	top: 10vh;
	left: 17vh;
	width: 300px;
	height: 150px;
}

#tf2 {
	position: absolute;
	top: 35vh;
	left: 17vh;
	width: 300px;
	height: 150px;
}

#discord  {
	position: absolute;
	top: 10vh;
	left: 150vh;
	width: 300px;
	height: 150px;
}

#steam  {
	position: absolute;
	top: 35vh;
	left: 150vh;
	width: 300px;
	height: 150px;
}